
<div id="edit-button-container">
    <button id="edit-button" mat-button (click)="openDialog()">Edit</button>
</div>
<div id="data-display">
    <i>contactName:</i> {{savedEmployeeData.contactName}}<br/>
    <i>dateOfBirth:</i> {{savedEmployeeData.dateOfBirth}}<br/>
    <i>vmaskedSocialSecurity:</i> {{savedEmployeeData.maskedSocialSecurity}}<br/>
    <i>employmentStatus:</i> {{savedEmployeeData.employmentStatus}}<br/>
    <i>hireDate:</i> {{savedEmployeeData.hireDate}}<br/>
    <i>streetAddress:</i> <br/>
        <i class="indent">addressLine1:</i> {{savedEmployeeData.streetAddress.addressLine1}}<br/>
        <i class="indent">addressLine2:</i> {{savedEmployeeData.streetAddress.addressLine2}}<br/>
        <i class="indent">city:</i> {{savedEmployeeData.streetAddress.city}}<br/>
        <i class="indent">state:</i> {{savedEmployeeData.streetAddress.state}}<br/>
        <i class="indent">zip:</i> {{savedEmployeeData.streetAddress.zip}}<br/>
    <i>mailingAddress:</i> <br/>
        <i class="indent">addressLine1:</i> {{savedEmployeeData.mailingAddress.addressLine1}}<br/>
        <i class="indent">addressLine2:</i> {{savedEmployeeData.mailingAddress.addressLine2}}<br/>
        <i class="indent">state:</i> {{savedEmployeeData.mailingAddress.state}}<br/>
        <i class="indent">zip:</i> {{savedEmployeeData.mailingAddress.zip}}<br/>
    <i>personalEmail:</i> {{savedEmployeeData.personalEmail}}<br/>
    <i>workEmail:</i> {{savedEmployeeData.workEmail}}<br/>
    <i>mobilePhone:</i> {{savedEmployeeData.mobilePhone}}<br/>
    <i>workPhone:</i> {{savedEmployeeData.workPhone}}<br/>
    <i>genderDescription:</i> {{savedEmployeeData.genderDescription}}<br/>
    <i>medicareEligible:</i> {{savedEmployeeData.medicareEligible}}<br/>
    <i>smoker:</i> {{savedEmployeeData.smoker}}<br/>
    <i>disabled:</i> {{savedEmployeeData.disabled}}<br/>
    <i>student:</i> {{savedEmployeeData.student}}<br/>
</div>